*{
    padding:0px;
}
.container{
    color:#fff;
    display: grid;
    grid-template-rows:1fr auto;
    justify-items: center;
    min-height: 100%;
    font-size: 2rem;
}
#enime{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   width: max-content;
}
.allien{
    /* background-image: url("../images/alien.png"); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
   /* background-color: greenyellow; */
    width:150px;
    height:150px;
}
#cannon{
    position: absolute;
    margin:0px auto;
    bottom: 0px;
    background-image: url("../images/cannonimg.png");
    background-size: cover;
    width: 200px;
    height:200px;
    
} 
.allien{
    background-image: url("../images/alien.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.allien > h6{
    text-align: center;
    margin-top: -5px;
    font-size: .8em;
}
#cannon{
    align-self: end;
}
.bullet{
    width:50px;
    height: 50px;
    position:absolute;
   
    background-image: url("../images/bulletFinal.png");
    background-size: cover;
}