*{
    padding:0px;
}
.container{
    color:#fff;
    display: grid;
    grid-template-rows:1fr auto;
    justify-items: center;
    min-height: 100%;
    font-size: 2rm;
}
#enime{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   width: max-content;
   margin:0px auto; /*156*/
}
.allien{
    /* background-image: url("../images/alien.png"); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
   /* background-color: greenyellow; */
    width:150px;
    height:150px;
}
#cannon{
    position: absolute;
    margin:0px auto;
    bottom: 0px;
    background-image: url("../images/cannonimg.png");
    background-size: cover;
    width: 200px;
    height:200px;
    
} 
.allien{
    /* background-image: url("../images/alien.png"); */
    background-image: url("../images/alien1.png");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: .5em;
    font-weight: 500;
}
#cannon{
    align-self: end;
    font-size: .5em;
    font-weight: 900;
    /* border: 1px solid #fff; */
}
.bullet{
    width:50px;
    height: 50px;
    position:absolute;
   
    background-image: url("../images/bulletFinal.png");
    background-size: cover;
}

#gameMap > section{
    position: absolute;
    top: 5px;
    left:120px;
    margin:0px auto;
    font-size: 1.2rem;
    color : #fff;
}
#gameMap > img{
    width:50px;
    height:50px;
}
#MobileControls{
    position: absolute;
}
#left{
    position: absolute;
    width:100px;
    height:50px;
    top: 300px;
    bottom: 0px;
    opacity: .2;
    display: none;
}
#shoot{
    position: absolute;
    width:100px;
    height:50px;
    top: 300px;
    opacity: .2;
    background-color: crimson;
    display: none;
}
#right{
    position: absolute;
    width:100px;
    height:50px;
    top: 300px;
    bottom: 0px;
    opacity: .2;
    display: none;
}
#exploder{
    position: absolute;
    /* background-image: url("../images/explosion.gif"); */
    background-size: cover;
    background-blend-mode: screen;
}