*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url("../images/milkeyway Background.jpg");
    background-size: cover;
    background-position: 0px 0px;
}
:root{
    --actionColor:#47699f;
}
.container
{
    margin:0 auto;
    max-width: 1200px;
    text-align: center;
}

#modal{
    margin-top: 1vh;
    min-height: 20vh;
    border: 1px solid green;
}
#modal > label{
    color:#fff;
    font-weight: 600;
}
#modal > input{
    width: 100vh;
    max-width: 500px;
    height:30px;
    border-radius: 5px;
    border-style: solid;
    border:2px solid #888;
    padding:10px;

}
.action{
    color:#fff;
    padding:10px 15px;
    border:none;
    border-radius: 5px;

    background-color: var(--actionColor);
}